.octodex {
  margin: 0;
}

.octocat {
  border: 3px solid black;
  float: left;
  margin-left: 1%;
  position: relative;
}
  /*I may be able to get rid of the inline block*/

.octocat img {
  margin-left: 3%;
  max-width: 30px;
  border: 1px solid black;
}

/*this shrinks the "icon" pictures also*/
.image-footer {
  float: left;
}

/*this are the small "icon" pictures*/
.image-caption {
  margin-left: 10%;
  text-align: right;
  width: 20%;
  height: 20%;
  padding-left: 50px;
  display: inline-block;
}

span {
  color: grey;
}
.image-number {
  margin-left: 12px;
  float: left;
}

.authors {
  display: inline-block;
  margin-left: 10px;
}
.authors img {
  float:right;
}
