.octodex {
  margin: 0;
}

/*this are the small "icon" pictures*/

.octocat {
  max-width: 350px;
  float: left;
  margin-right: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
  /*I may be able to get rid of the inline block*/

.octocat img {
  width: 350px;
  border: 1px solid gray;
  margin-left: 1px;
}

.authors {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.authors img {
  width: 20px;
  float: right;
  display: inline-block;
  margin-top: 3px;
}

.image-number {
  display: inline-block;
  color: gray;
  vertical-align: middle;
}
/*this shrinks the "icon" pictures also*/
.image-footer {
  position: relative;
}

.image-footer {
  border-width: 5px 5px 0 5px;
}

